<!DOCTYPE html>
<html>
<head>
  <title>Mailpractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <header>
        <ul>
          <li><%= link_to 'HOME', root_path %></li>
            <li><%= link_to 'POSTS', posts_path %></li>
            <li><%= link_to 'COMMENTS', comments_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'SIGN-UP', new_user_registration_path %></li>
              <li><%= link_to 'SIGN-IN', new_user_session_path %></li>
            <% end %>
        </ul>
      </header>
      <%= yield %>
    </div>
    </div>
  </div>



</div>

</body>
</html>
